.login-section {
	min-height: 100vh;
	display: grid;
	place-items: center;

	.container {
		width: 90vw;
		max-width: 600px;
		text-align: center;
	}

	img {
		margin-bottom: 2rem;
	}

	h1 {
		margin-bottom: 1.5rem;
	}
}